.priceContainer {
    padding: 120px 170px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .offering {
        color: #2B4EFF;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        /* 155.556% */
        letter-spacing: -0.54px;
        border-radius: 30px;
        background: #F1F2F3;
        padding: 4px 19px;
        max-width: 148px;
    }

    h3 {
        padding-top: 5px;
        color: #FFF;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        /* 100% */
        letter-spacing: -1.92px;
    }

    p {
        color: #F4F6F8;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        /* 150% */
        letter-spacing: -0.6px;
    }

    // TabSwitcher.scss
    .tab-switcher {
        display: flex;
        background: transparent;
        border-radius: 2em;
        border: 1px solid #3a3a3a;

        .tab-btn {
            white-space: nowrap;
            flex: 1;
            padding: 0.75em 2em;
            background: transparent;
            color: #fff;
            border: none;
            border-radius: 2em;
            font-size: 1.15em;
            cursor: pointer;
            transition: background 0.2s;

            &:hover:not(.active) {
                color: #8d8d8d;
            }

            &.active {
                background: #2966ff;
                color: #fff;
                font-weight: bold;
                box-shadow: 0 2px 10px #1b305e36;
                border: 1.5px solid #2966ff;
                z-index: 1;
            }
        }
    }
}


/* --------- MOBILE STYLES --------- */
@media screen and (max-width: 768px) {
    .priceContainer {
        padding: 20px;

        h3 {
            font-size: 28px;
        }

        .tab-switcher {
            margin-top: 20px;
            flex-direction: column;
            gap: 8px;
        }

        .price {
            font-size: 20px;
            align-items: flex-start;

        }
    }
}