.faqContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F5F5F5;
    padding: 120px 170px;

    .faq {
        padding: 4px 19px;
        color: #2B4EFF;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        /* 155.556% */
        letter-spacing: -0.54px;
        border-radius: 30px;
        background: #FFF;


    }

    h3 {
        padding-top: 20px;
        color: #040D43;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        /* 100% */
        letter-spacing: -1.92px;
    }

    p {
        padding-top: 15px;
        color: #2D2D30;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        /* 150% */
        letter-spacing: -0.6px;
        max-width: 970px;
    }
}